@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .prim-gradient {
    background: linear-gradient(90deg, #e287d4 0%, #57c6dc 100%);
  }
  .font-gradient {
    background: -webkit-linear-gradient(90deg, #e287d4 0%, #57c6dc 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
